{
    "openapi": "3.0.0",
    "info": {
        "title": "OrderCloud",
        "description": "OrderCloud is an awesome C# platform API for making eCommerce applications. It is NOT a complete solution. It's designed to be used as the backend component with various other integrations and services.",
        "version": "1.0.239.25688",
        "contact": {
            "name": "OrderCloud",
            "url": "http://ordercloud.io",
            "email": "ordercloud@four51.com"
        }
    },
    "servers": [
        {
            "url": "https://api.ordercloud.io/v1",
            "description": "Main API Server (OrderCloud resources requiring an access token)"
        }
    ],
    "tags": [
        {
            "name": "Authentication and Authorization",
            "description": "The OrderCloud.io API implements OAuth2 combined with our own notion of Roles to control user authentication and authorization at fine-grain level. Be prepared to spend time learning about these concepts and designing the right model for your application. If you over-privilege your users and attempt to control what they can do via front-end code, you run the risk of technically savvy users circumventing this by making direct API calls.",
            "x-id": "AuthenticationAndAuthorization"
        },
        {
            "name": "Security Profiles",
            "description": "",
            "x-section-id": "AuthenticationAndAuthorization"
        },
        {
            "name": "Forgotten Password",
            "description": "",
            "x-section-id": "AuthenticationAndAuthorization"
        },
        {
            "name": "Impersonation Configs",
            "description": "ImpersonationConfigs allow users to make API calls on behalf of a buyer user, which we refer to as impersonation.\nIf you're a marketplace owner user with the BuyerImpersonation role you can impersonate any buyer user under your organization as long as an applicable Impersonation Config has been created.\nIf you're a buyer user with the BuyerImpersonation role you can impersonate any other buyer user within the same buyer company as long as an applicable Impersonation Config has been created.",
            "x-section-id": "AuthenticationAndAuthorization"
        },
        {
            "name": "Certs",
            "description": "",
            "x-section-id": "AuthenticationAndAuthorization"
        },
        {
            "name": "Open Id Connects",
            "description": "",
            "x-section-id": "AuthenticationAndAuthorization"
        },
        {
            "name": "Seller",
            "description": "At the center of any OrderCloud.io solution is a single Seller organization. It consists directly of Users, Groups, and Addresses (used mainly for shipping calculations), which should be established ahead of Product Catalogs, Buyers, and Suppliers.",
            "x-id": "Seller"
        },
        {
            "name": "Admin Users",
            "description": "Users on an Organization level are users that have administrative access to things like adding users, creating catalogs, processing orders or creating products. These users are not specific to a buyer company.",
            "x-section-id": "Seller"
        },
        {
            "name": "Admin User Groups",
            "description": "",
            "x-section-id": "Seller"
        },
        {
            "name": "Admin Addresses",
            "description": "",
            "x-section-id": "Seller"
        },
        {
            "name": "Message Senders",
            "description": "MessageSenders enable the delivery of event driven notifications to users. Each MessageSender handles a group of predefined MessageTypes, which can be assigned to the parties that should receive those emails.",
            "x-section-id": "Seller"
        },
        {
            "name": "Api Clients",
            "description": "",
            "x-section-id": "Seller"
        },
        {
            "name": "Incrementors",
            "description": "An incrementor is used to add an atomically incremented number to your object IDs. For example, \"aprefix-{myIncrementorID}\", will yield an order ID of aprefix-10010.",
            "x-section-id": "Seller"
        },
        {
            "name": "Integration Events",
            "description": "",
            "x-section-id": "Seller"
        },
        {
            "name": "Locales",
            "description": "Locales are used to facilitate multi-currency product pricing and ordering in a marketplace. They can be assigned to Buyers or Buyer UserGroups.Duplicate Currency/Language combinations not permitted.",
            "x-section-id": "Seller"
        },
        {
            "name": "Webhooks",
            "description": "",
            "x-section-id": "Seller"
        },
        {
            "name": "Xp Indices",
            "description": "",
            "x-section-id": "Seller"
        },
        {
            "name": "Buyers",
            "description": "Buyers represent real-world legal entities to which the Seller offers Product Catalogs and from which the Seller receives Orders. Buyers contain many of the same things as Sellers (Users, Groups, Addresses) and much more, including Cost Centers, Spending Accounts, and Approval Rules.\nAssignments are prevalent concept. Most \"things\" can be assigned to a User, Group, or entire Buyer organization. Plan ahead, and use Groups to your advantage here. For example, if you assign 100 Addresses directly to 50 Users, you are going to need to create 100 additional assignments every time you add a new User. Or, 50 more assignments for every new Address. With careful planning, Groups can save you from \"assignment hell\".",
            "x-id": "Buyers"
        },
        {
            "name": "Buyers",
            "description": "Buyers, or customers, are the organizations that view the categories and products and place orders.",
            "x-section-id": "Buyers"
        },
        {
            "name": "Users",
            "description": "A user is a person with access to the application.  The properties of a user define who they are and what they are able to do with their login to the application.",
            "x-section-id": "Buyers"
        },
        {
            "name": "User Groups",
            "description": "User Groups are used to streamline the management of users within an application.  By placing like users in groups, you can filter content, define order management rules, and manage changes much more easily than trying to account for individual users.",
            "x-section-id": "Buyers"
        },
        {
            "name": "Addresses",
            "description": "Addresses are used for the purposes of billing and shipping an order.  An address may belong to a list that can be shared among many users if appropriate.",
            "x-section-id": "Buyers"
        },
        {
            "name": "Cost Centers",
            "description": "A cost center is used to allocate organizational expenditures.  Different businesses call these by different names such as \"allocation codes\" or \"charge back codes\", but the basic purpose is the same - to allocate an expense back to someone or some department of an organization.",
            "x-section-id": "Buyers"
        },
        {
            "name": "Credit Cards",
            "description": "Credit cards are used as a payment method for an order.  A user may have access to one or many credit cards for personal spend or group spending.\nCredit Cards may be saved and assigned to members of an organization for use during purchase.",
            "x-section-id": "Buyers"
        },
        {
            "name": "Spending Accounts",
            "description": "Spending Accounts are funds given to users by a managing entity and are managed as part of a user's account.  These funds are generally used as \"corporate dollars\", \"rewards dollars\", or \"gift cards\".\nThey can be used to pay for all of or part of an order with parameters that control account expiration, balance available, balance renewal, user access and overdraft.\nMultiple spending accounts can be assigned to a member of an organization and applied to all transactions, but only one can be used as a payment method.\nWhen multiple Spending Accounts are used on a transaction each is deducted individually.",
            "x-section-id": "Buyers"
        },
        {
            "name": "Approval Rules",
            "description": "Approval rules are used to verify the integrity of an order.  Common examples include orders requiring managerial approval, approval for orders that contain a specific product category, approval for quantity thresholds or approval for orders that exceed a specific price.  Properties are also available to control the triggers and timing for processing approvals whether parallel to another rule, or in succession of a previous rule.",
            "x-section-id": "Buyers"
        },
        {
            "name": "Suppliers",
            "description": "Suppliers are a third, optional type of organization used in indirect supply chain scenarios. Like the Seller, they contain Users and Groups. Once established, Products can be configured to auto-forward to Suppliers when ordered. This will automatically create a new PO, notify the Supplier, and track costs and profit margins if configured.",
            "x-id": "Suppliers"
        },
        {
            "name": "Suppliers",
            "description": "Suppliers can own, supply, and/or distribute products within the marketplace.",
            "x-section-id": "Suppliers"
        },
        {
            "name": "Supplier Users",
            "description": "A user is a person with access to the application.  The properties of a user define who they are and what they are able to do with their login to the application.",
            "x-section-id": "Suppliers"
        },
        {
            "name": "Supplier User Groups",
            "description": "User Groups are used to streamline the management of users within an application.  By placing like users in groups, you can filter content, define order management rules, and manage changes much more easily than trying to account for individual users.",
            "x-section-id": "Suppliers"
        },
        {
            "name": "Supplier Addresses",
            "description": "",
            "x-section-id": "Suppliers"
        },
        {
            "name": "Product Catalogs",
            "description": "Products are priced (or unpriced) goods that can be offered to Buyers for placement on Orders. A Product can belong to any number of Catalogs, and a Catalog can be organized into hierarchical Categories to any arbitrary depth. Catalogs are assigned to Buyers, though visibility and pricing may vary by Buyer, User Group, Category, or individual Product. Pricing may include quantity breaks (collectively called a Price Schedule), and Price Schedules may be shared with multiple Products. User-selected Specs, which may include price markups, can be assigned to Products, enabling Buyer configurability at the time of ordering.",
            "x-id": "ProductCatalogs"
        },
        {
            "name": "Catalogs",
            "description": "A Catalog represents a group of categories used to group and place content for a specific audience. All buyers are issued and assigned a default catalog upon creation. Catalogs can be shared between buyers using assignments.",
            "x-section-id": "ProductCatalogs"
        },
        {
            "name": "Categories",
            "description": "Categories are used within a catalog to group and place content for a specific audience. Content can be in the form of another category, nested categories, products or HTML.",
            "x-section-id": "ProductCatalogs"
        },
        {
            "name": "Products",
            "description": "A Product represents a physical, digital, or abstract good that is offered for sale by a Marketplace Owner or Supplier and is purchase-able by Buyer Users via an Order.\nProducts can be a static SKU or a version of a static SKU, known as a Variant.  For example, a variant is often a size or color choice that drives a different product SKU.\nProducts may also have inventory associated with them and various inventory attributes like quantity available and re-order notifications.",
            "x-section-id": "ProductCatalogs"
        },
        {
            "name": "Price Schedules",
            "description": "Price schedules allow the same product to be sold across multiple channels.  A price schedule may include quantity price breaks, min and max quantity per order, whether to apply tax or shipping calculations, or to what type of order the price schedule applies.",
            "x-section-id": "ProductCatalogs"
        },
        {
            "name": "Specs",
            "description": "Specs are used to capture user input when adding a Product to an Order. At its simplest, a spec is a name/value pair. A spec value may have a price markup or markdown associated with it. In more advanced scenarios, specs can drive the product SKU. For example, a product may be available in 3 colors and 3 sizes and therefore have a total of 9 SKUs. **The OrderCloud platform will choose the correct SKU based on the user-selected color and size specs**.",
            "x-section-id": "ProductCatalogs"
        },
        {
            "name": "Product Facets",
            "description": "A product facet is an extended property (value on product.xp) designated to participate in faceted navigation. Buyer list endpoints for products will populate and return Meta.Facets, a collection of facet names, values, and counts. Counts represent the total results that would be returned should the current set be further filtered on that facet value.",
            "x-section-id": "ProductCatalogs"
        },
        {
            "name": "Inventory Records",
            "description": "Inventory Records represent physical locations where inventory for a given product exists. Use of Inventory Records will prevent writing to Product.Inventory.QuantityAvailable, which will instead be a sum of inventories across all locations associated to the product.",
            "x-section-id": "ProductCatalogs"
        },
        {
            "name": "Orders and Fulfillment",
            "description": "The central concept within OrderCloud.io is (not surprisingly) the Order. This is where Buyers, Sellers, Products, Addresses, and just about everything else come together to form business transactions. A feature that is somewhat unique to this area of the API is that you'll use the same set of endpoints regardless of whether you're a Buyer, Seller, or Supplier. What's important is the order *direction*, which is either incoming or outgoing. Order IDs are guaranteed unique within that context. As a seller, this means you can aggregate lists of incoming orders from many Buyers, or outgoing orders to many Suppliers. You may filter a list by Buyer or Supplier, but it's not required to uniquely identify an Order. (Buyers typically only deal with outgoing Orders; Suppliers with incoming.) Buyers add Line Items to Orders by specifying a Product, Quantity, and (optionally) Spec values. Shipping is applied at either the Order level or Line Item level. Shipments are independent of Orders; you can ship a partial Order, or aggregate items from multiple Orders onto a single Shipment.",
            "x-id": "OrdersAndFulfillment"
        },
        {
            "name": "Orders",
            "description": "An Order represents a business transaction between two parties. It typically consists of a collection of Line Items, a Payment Method, Tax and Shipping information, etc. The OrderCloud platform defines various \"actions\" that can be performed against Orders, such as Submit, Approve, Ship, etc. These actions transform the state of the order and often trigger external events such as financial transactions.",
            "x-section-id": "OrdersAndFulfillment"
        },
        {
            "name": "Line Items",
            "description": "A Line Item represents a single line on an Order. At a minimum, it contains a single Product SKU and a quantity. A line item may also include Spec values, a Cost Center, shipping details, date needed, and other custom information.",
            "x-section-id": "OrdersAndFulfillment"
        },
        {
            "name": "Promotions",
            "description": "Promotions are used to reduce the cost of a line item or an order.  Promotions can have redemption rules that can be applied for available dates, occurences and value.\nPromotions can be assigned to Products, Categories, Buyers, UserGroups and Users for redemption.",
            "x-section-id": "OrdersAndFulfillment"
        },
        {
            "name": "Payments",
            "description": "",
            "x-section-id": "OrdersAndFulfillment"
        },
        {
            "name": "Shipments",
            "description": "A Shipment is a grouping of one or more Line Items from one or more Orders that is physically packaged and delivered to the Buyer as a single unit. It is typically created by the Marketplace Owner after the Order is submitted as part of the fulfillment process.",
            "x-section-id": "OrdersAndFulfillment"
        },
        {
            "name": "Order Returns",
            "description": "An OrderReturn represents a transaction between two parties. It can be a record of physical items being returned, or simply a credit being issued not tied to the return of an item.",
            "x-section-id": "OrdersAndFulfillment"
        },
        {
            "name": "Seller Approval Rules",
            "description": "Order return approval rules are used to verify the integrity of an order return. Common examples include order returns exceeding a specified refund amount or order returns that contain no physical items to return. Properties are also available to control the triggers and timing for processing approvals whether parallel to another rule, or in succession of a previous rule.",
            "x-section-id": "OrdersAndFulfillment"
        },
        {
            "name": "Me and My Stuff",
            "description": "With an understanding of the robust visibility options involving roles, group-level assignments, Buyer-specific pricing, \"Active\" bits, and the like, you might be wondering, where are all these rules actually enforced? This is the job of the resources that begin with \"me\". Whether authenticated as yourself or impersonating as someone else, you see only what that user is allowed to see. A good rule of thumb is that, other than authentication, you should be able to build an entire Buyer experience using only endpoints that start with \"orders\" or \"me\".",
            "x-id": "MeAndMyStuff"
        },
        {
            "name": "Me",
            "description": "\"Me\" is a container for read-only endpoints that return a filtered view of things that the current buyer user is allowed to see, i.e. things that they are assigned to either directly or as a member of a buyer organization or user group. It also provides ways for a user to update or change their own information.",
            "x-section-id": "MeAndMyStuff"
        }
    ],
    "components": {
        "securitySchemes": {
            "OAuth2": {
                "type": "oauth2",
                "flows": {
                    "password": {
                        "tokenUrl": "https://auth.ordercloud.io/oauth/token",
                        "scopes": {
                            "AddressAdmin": "",
                            "AddressReader": "",
                            "AdminAddressAdmin": "",
                            "AdminAddressReader": "",
                            "AdminUserAdmin": "",
                            "AdminUserGroupAdmin": "",
                            "AdminUserGroupReader": "",
                            "AdminUserReader": "",
                            "ApiClientAdmin": "",
                            "ApiClientReader": "",
                            "ApprovalRuleAdmin": "",
                            "ApprovalRuleReader": "",
                            "BuyerAdmin": "",
                            "BuyerImpersonation": "",
                            "BuyerReader": "",
                            "BuyerUserAdmin": "",
                            "BuyerUserReader": "",
                            "CatalogAdmin": "",
                            "CatalogReader": "",
                            "CategoryAdmin": "",
                            "CategoryReader": "",
                            "CostCenterAdmin": "",
                            "CostCenterReader": "",
                            "CreditCardAdmin": "",
                            "CreditCardReader": "",
                            "FullAccess": "",
                            "IncrementorAdmin": "",
                            "IncrementorReader": "",
                            "IntegrationEventAdmin": "",
                            "IntegrationEventReader": "",
                            "LocaleAdmin": "",
                            "LocaleReader": "",
                            "MeAddressAdmin": "",
                            "MeAdmin": "",
                            "MeCreditCardAdmin": "",
                            "MessageConfigAssignmentAdmin": "",
                            "MessageSenderAdmin": "",
                            "MessageSenderReader": "",
                            "MeXpAdmin": "",
                            "OrderAdmin": "",
                            "OrderReader": "",
                            "OverrideShipping": "",
                            "OverrideTax": "",
                            "OverrideUnitPrice": "",
                            "PasswordReset": "",
                            "PriceScheduleAdmin": "",
                            "PriceScheduleReader": "",
                            "ProductAdmin": "",
                            "ProductAssignmentAdmin": "",
                            "ProductFacetAdmin": "",
                            "ProductFacetReader": "",
                            "ProductReader": "",
                            "PromotionAdmin": "",
                            "PromotionReader": "",
                            "SecurityProfileAdmin": "",
                            "SecurityProfileReader": "",
                            "SetSecurityProfile": "",
                            "ShipmentAdmin": "",
                            "ShipmentReader": "",
                            "Shopper": "",
                            "SpendingAccountAdmin": "",
                            "SpendingAccountReader": "",
                            "SupplierAddressAdmin": "",
                            "SupplierAddressReader": "",
                            "SupplierAdmin": "",
                            "SupplierReader": "",
                            "SupplierUserAdmin": "",
                            "SupplierUserGroupAdmin": "",
                            "SupplierUserGroupReader": "",
                            "SupplierUserReader": "",
                            "UnsubmittedOrderReader": "",
                            "UserGroupAdmin": "",
                            "UserGroupReader": "",
                            "WebhookAdmin": "",
                            "WebhookReader": "",
                            "XpIndexAdmin": ""
                        }
                    },
                    "clientCredentials": {
                        "tokenUrl": "https://auth.ordercloud.io/oauth/token",
                        "scopes": {
                            "AddressAdmin": "",
                            "AddressReader": "",
                            "AdminAddressAdmin": "",
                            "AdminAddressReader": "",
                            "AdminUserAdmin": "",
                            "AdminUserGroupAdmin": "",
                            "AdminUserGroupReader": "",
                            "AdminUserReader": "",
                            "ApiClientAdmin": "",
                            "ApiClientReader": "",
                            "ApprovalRuleAdmin": "",
                            "ApprovalRuleReader": "",
                            "BuyerAdmin": "",
                            "BuyerImpersonation": "",
                            "BuyerReader": "",
                            "BuyerUserAdmin": "",
                            "BuyerUserReader": "",
                            "CatalogAdmin": "",
                            "CatalogReader": "",
                            "CategoryAdmin": "",
                            "CategoryReader": "",
                            "CostCenterAdmin": "",
                            "CostCenterReader": "",
                            "CreditCardAdmin": "",
                            "CreditCardReader": "",
                            "FullAccess": "",
                            "IncrementorAdmin": "",
                            "IncrementorReader": "",
                            "IntegrationEventAdmin": "",
                            "IntegrationEventReader": "",
                            "LocaleAdmin": "",
                            "LocaleReader": "",
                            "MeAddressAdmin": "",
                            "MeAdmin": "",
                            "MeCreditCardAdmin": "",
                            "MessageConfigAssignmentAdmin": "",
                            "MessageSenderAdmin": "",
                            "MessageSenderReader": "",
                            "MeXpAdmin": "",
                            "OrderAdmin": "",
                            "OrderReader": "",
                            "OverrideShipping": "",
                            "OverrideTax": "",
                            "OverrideUnitPrice": "",
                            "PasswordReset": "",
                            "PriceScheduleAdmin": "",
                            "PriceScheduleReader": "",
                            "ProductAdmin": "",
                            "ProductAssignmentAdmin": "",
                            "ProductFacetAdmin": "",
                            "ProductFacetReader": "",
                            "ProductReader": "",
                            "PromotionAdmin": "",
                            "PromotionReader": "",
                            "SecurityProfileAdmin": "",
                            "SecurityProfileReader": "",
                            "SetSecurityProfile": "",
                            "ShipmentAdmin": "",
                            "ShipmentReader": "",
                            "Shopper": "",
                            "SpendingAccountAdmin": "",
                            "SpendingAccountReader": "",
                            "SupplierAddressAdmin": "",
                            "SupplierAddressReader": "",
                            "SupplierAdmin": "",
                            "SupplierReader": "",
                            "SupplierUserAdmin": "",
                            "SupplierUserGroupAdmin": "",
                            "SupplierUserGroupReader": "",
                            "SupplierUserReader": "",
                            "UnsubmittedOrderReader": "",
                            "UserGroupAdmin": "",
                            "UserGroupReader": "",
                            "WebhookAdmin": "",
                            "WebhookReader": "",
                            "XpIndexAdmin": ""
                        }
                    }
                }
            }
        },
        "schemas": {
            "AccessToken": {
                "type": "object",
                "example": {
                    "access_token": "",
                    "expires_in": 0,
                    "token_type": "",
                    "refresh_token": ""
                },
                "properties": {
                    "access_token": {
                        "type": "string"
                    },
                    "expires_in": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "token_type": {
                        "type": "string"
                    },
                    "refresh_token": {
                        "type": "string"
                    }
                }
            },
            "AccessTokenBasic": {
                "type": "object",
                "example": {
                    "access_token": ""
                },
                "properties": {
                    "access_token": {
                        "type": "string"
                    }
                }
            },
            "Address": {
                "type": "object",
                "example": {
                    "ID": "",
                    "DateCreated": "2018-01-01T00:00:00-06:00",
                    "CompanyName": "",
                    "FirstName": "",
                    "LastName": "",
                    "Street1": "",
                    "Street2": "",
                    "City": "",
                    "State": "",
                    "Zip": "",
                    "Country": "",
                    "Phone": "",
                    "AddressName": "",
                    "xp": {}
                },
                "properties": {
                    "ID": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "DateCreated": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                    },
                    "CompanyName": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "FirstName": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "LastName": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "Street1": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "Street2": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "City": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "State": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "Zip": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "Country": {
                        "type": "string",
                        "maxLength": 2
                    },
                    "Phone": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "AddressName": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "xp": {
                        "type": "object"
                    }
                }
            },
            "AddressAssignment": {
                "type": "object",
                "example": {
                    "AddressID": "",
                    "UserID": "",
                    "UserGroupID": "",
                    "IsShipping": false,
                    "IsBilling": false
                },
                "properties": {
                    "AddressID": {
                        "type": "string"
                    },
                    "UserID": {
                        "type": "string"
                    },
                    "UserGroupID": {
                        "type": "string"
                    },
                    "IsShipping": {
                        "type": "boolean"
                    },
                    "IsBilling": {
                        "type": "boolean"
                    }
                }
            },
            "ApiClient": {
                "type": "object",
                "example": {
                    "ID": "",
                    "ClientSecret": "",
                    "AccessTokenDuration": 0,
                    "Active": false,
                    "AppName": "",
                    "RefreshTokenDuration": 0,
                    "DefaultContextUserName": "",
                    "xp": {},
                    "AllowAnyBuyer": false,
                    "AllowAnySupplier": false,
                    "AllowSeller": false,
                    "IsAnonBuyer": false,
                    "AssignedBuyerCount": 0,
                    "AssignedSupplierCount": 0,
                    "OrderCheckoutIntegrationEventID": "",
                    "OrderCheckoutIntegrationEventName": "",
                    "OrderReturnIntegrationEventID": "",
                    "OrderReturnIntegrationEventName": "",
                    "MinimumRequiredRoles": [
                        "ApiClientAdmin"
                    ],
                    "MinimumRequiredCustomRoles": [
                        ""
                    ],
                    "MaximumGrantedRoles": [
                        "ApiClientAdmin"
                    ],
                    "MaximumGrantedCustomRoles": [
                        ""
                    ]
                },
                "properties": {
                    "ID": {
                        "type": "string",
                        "readOnly": true,
                        "description": "Used for OAuth 2.0 workflows and OrderCloud impersonation to represent this Client Application."
                    },
                    "ClientSecret": {
                        "type": "string",
                        "description": "Enables the OAuth 2.0 Client Credentials grant type. Required on all OAuth workflows when present."
                    },
                    "AccessTokenDuration": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "Active": {
                        "type": "boolean",
                        "description": "All user authentication is prohibited if false."
                    },
                    "AppName": {
                        "type": "string"
                    },
                    "RefreshTokenDuration": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "DefaultContextUserName": {
                        "type": "string",
                        "description": "Optionally set a user that will be used when authenticating with a Client Credentials grant type flow. This grant type is often used for anonymous browsing on buyer applications and authentication on server integration layers."
                    },
                    "xp": {
                        "type": "object"
                    },
                    "AllowAnyBuyer": {
                        "type": "boolean",
                        "description": "Allow all buyer users in your organization access to authenticate using this ApiClient."
                    },
                    "AllowAnySupplier": {
                        "type": "boolean",
                        "description": "Allow all supplier users in your organization access to authenticate using this ApiClient."
                    },
                    "AllowSeller": {
                        "type": "boolean",
                        "description": "Allow all marketplace owner users in your organization access to authenticate using this ApiClient."
                    },
                    "IsAnonBuyer": {
                        "type": "boolean",
                        "description": "Enables anonymous shopping. It only works when a Buyer User is the Default Context User."
                    },
                    "AssignedBuyerCount": {
                        "type": "integer",
                        "format": "int32",
                        "readOnly": true
                    },
                    "AssignedSupplierCount": {
                        "type": "integer",
                        "format": "int32",
                        "readOnly": true
                    },
                    "OrderCheckoutIntegrationEventID": {
                        "type": "string",
                        "description": "If populated, an error will be thrown when attempting to submit an order that has not been processed through the OrderCheckout Integration."
                    },
                    "OrderCheckoutIntegrationEventName": {
                        "type": "string",
                        "readOnly": true
                    },
                    "OrderReturnIntegrationEventID": {
                        "type": "string",
                        "description": "If populated, and not overriden by an OrderAdmin, the integration event will be used to calculate ReturnAmount on the Order Return or each individual return item."
                    },
                    "OrderReturnIntegrationEventName": {
                        "type": "string",
                        "readOnly": true
                    },
                    "MinimumRequiredRoles": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApiRole"
                        }
                    },
                    "MinimumRequiredCustomRoles": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "MaximumGrantedRoles": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApiRole"
                        }
                    },
                    "MaximumGrantedCustomRoles": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "ApiClientAssignment": {
                "type": "object",
                "example": {
                    "ApiClientID": "",
                    "BuyerID": "",
                    "SupplierID": ""
                },
                "properties": {
                    "ApiClientID": {
                        "type": "string"
                    },
                    "BuyerID": {
                        "type": "string"
                    },
                    "SupplierID": {
                        "type": "string"
                    }
                }
            },
            "ApiRole": {
                "type": "string",
                "enum": [
                    "ApiClientAdmin",
                    "ApiClientReader",
                    "AddressAdmin",
                    "AddressReader",
                    "AdminAddressAdmin",
                    "AdminAddressReader",
                    "AdminUserAdmin",
                    "AdminUserGroupAdmin",
                    "AdminUserGroupReader",
                    "AdminUserReader",
                    "ApprovalRuleAdmin",
                    "ApprovalRuleReader",
                    "BuyerAdmin",
                    "BuyerImpersonation",
                    "BuyerReader",
                    "BuyerUserAdmin",
                    "BuyerUserReader",
                    "CatalogAdmin",
                    "CatalogReader",
                    "CategoryAdmin",
                    "CategoryReader",
                    "CostCenterAdmin",
                    "CostCenterReader",
                    "CreditCardAdmin",
                    "CreditCardReader",
                    "FullAccess",
                    "IncrementorAdmin",
                    "IncrementorReader",
                    "LocaleReader",
                    "LocaleAdmin",
                    "MeAddressAdmin",
                    "MeAdmin",
                    "MeCreditCardAdmin",
                    "MessageConfigAssignmentAdmin",
                    "MeXpAdmin",
                    "OrderAdmin",
                    "OrderReader",
                    "OverrideShipping",
                    "OverrideTax",
                    "OverrideUnitPrice",
                    "PasswordReset",
                    "PriceScheduleAdmin",
                    "PriceScheduleReader",
                    "ProductAdmin",
                    "ProductAssignmentAdmin",
                    "ProductFacetAdmin",
                    "ProductFacetReader",
                    "ProductReader",
                    "PromotionAdmin",
                    "PromotionReader",
                    "SecurityProfileAdmin",
                    "SecurityProfileReader",
                    "SetSecurityProfile",
                    "ShipmentAdmin",
                    "ShipmentReader",
                    "Shopper",
                    "SpendingAccountAdmin",
                    "SpendingAccountReader",
                    "SupplierAddressAdmin",
                    "SupplierAddressReader",
                    "SupplierAdmin",
                    "SupplierReader",
                    "SupplierUserAdmin",
                    "SupplierUserGroupAdmin",
                    "SupplierUserGroupReader",
                    "SupplierUserReader",
                    "UnsubmittedOrderReader",
                    "UserGroupAdmin",
                    "UserGroupReader",
                    "OpenIDConnectReader",
                    "OpenIDConnectAdmin",
                    "MessageSenderReader",
                    "MessageSenderAdmin",
                    "XpIndexAdmin",
                    "WebhookReader",
                    "WebhookAdmin",
                    "IntegrationEventReader",
                    "IntegrationEventAdmin"
                ],
                "description": ""
            },
            "ApprovalInfo": {
                "type": "object",
                "example": {
                    "Comments": ""
                },
                "properties": {
                    "Comments": {
                        "type": "string",
                        "description": "Comments to be saved with the order approval or denial.",
                        "maxLength": 2000
                    }
                }
            },
            "ApprovalRule": {
                "type": "object",
                "example": {
                    "ID": "",
                    "Name": "",
                    "Description": "",
                    "ApprovingGroupID": "",
                    "RuleExpression": "",
                    "xp": {}
                },
                "properties": {
                    "ID": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "Name": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "Description": {
                        "type": "string",
                        "maxLength": 2000
                    },
                    "ApprovingGroupID": {
                        "type": "string"
                    },
                    "RuleExpression": {
                        "type": "string",
                        "description": "The expression evaluated to determine an order requires approval. See Rules Engine documentation for formatting details.",
                        "maxLength": 400
                    },
                    "xp": {
                        "type": "object"
                    }
                }
            },
            "ApprovalStatus": {
                "type": "string",
                "enum": [
                    "Pending",
                    "Approved",
                    "Declined"
                ],
                "description": ""
            },
            "ApprovalType": {
                "type": "string",
                "enum": [
                    "Order",
                    "OrderReturn"
                ],
                "description": ""
            },
            "Buyer": {
                "type": "object",
                "example": {
                    "ID": "",
                    "Name": "",
                    "DefaultCatalogID": "",
                    "Active": false,
                    "DateCreated": "2018-01-01T00:00:00-06:00",
                    "xp": {}
                },
                "properties": {
                    "ID": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "Name": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "DefaultCatalogID": {
                        "type": "string",
                        "description": "If null on POST a new default catalog will be created for the buyer. Used in buyer product queries to allow filtering on categories without explicitly providing a CatalogID."
                    },
                    "Active": {
                        "type": "boolean",
                        "description": "If false, all authentication is prohibited."
                    },
                    "DateCreated": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                    },
                    "xp": {
                        "type": "object"
                    }
                }
            },
            "BuyerAddress": {
                "type": "object",
                "example": {
                    "ID": "",
                    "Shipping": false,
                    "Billing": false,
                    "Editable": false,
                    "DateCreated": "2018-01-01T00:00:00-06:00",
                    "CompanyName": "",
                    "FirstName": "",
                    "LastName": "",
                    "Street1": "",
                    "Street2": "",
                    "City": "",
                    "State": "",
                    "Zip": "",
                    "Country": "",
                    "Phone": "",
                    "AddressName": "",
                    "xp": {}
                },
                "properties": {
                    "ID": {
                        "type": "string",
                        "readOnly": true,
                        "maxLength": 100
                    },
                    "Shipping": {
                        "type": "boolean",
                        "description": "Indicates whether this Address can be used as a Shipping Address on an Order or Line Item."
                    },
                    "Billing": {
                        "type": "boolean",
                        "description": "Indicates whether this Address can be used as a Billing Address on an Order."
                    },
                    "Editable": {
                        "type": "boolean",
                        "readOnly": true,
                        "description": "Indicates whether this Address can be edited by the current User."
                    },
                    "DateCreated": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                    },
                    "CompanyName": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "FirstName": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "LastName": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "Street1": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "Street2": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "City": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "State": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "Zip": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "Country": {
                        "type": "string",
                        "maxLength": 2
                    },
                    "Phone": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "AddressName": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "xp": {
                        "type": "object"
                    }
                }
            },
            "BuyerCreditCard": {
                "type": "object",
                "example": {
                    "ID": "",
                    "Editable": false,
                    "Token": "",
                    "DateCreated": "2018-01-01T00:00:00-06:00",
                    "CardType": "",
                    "PartialAccountNumber": "",
                    "CardholderName": "",
                    "ExpirationDate": "2018-01-01T00:00:00-06:00",
                    "xp": {}
                },
                "properties": {
                    "ID": {
                        "type": "string",
                        "readOnly": true,
                        "maxLength": 100
                    },
                    "Editable": {
                        "type": "boolean",
                        "readOnly": true
                    },
                    "Token": {
                        "type": "string",
                        "description": "Token provided by the credit card processor used to reference the card with that processor.",
                        "maxLength": 100
                    },
                    "DateCreated": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                    },
                    "CardType": {
                        "type": "string"
                    },
                    "PartialAccountNumber": {
                        "type": "string",
                        "maxLength": 5
                    },
                    "CardholderName": {
                        "type": "string"
                    },
                    "ExpirationDate": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "xp": {
                        "type": "object"
                    }
                }
            },
            "BuyerProduct": {
                "type": "object",
                "example": {
                    "PriceSchedule": {
                        "OwnerID": "",
                        "ID": "",
                        "Name": "",
                        "ApplyTax": false,
                        "ApplyShipping": false,
                        "MinQuantity": 0,
                        "MaxQuantity": 0,
                        "UseCumulativeQuantity": false,
                        "RestrictedQuantity": false,
                        "PriceBreaks": [
                            {
                                "Quantity": 0,
                                "Price": 0,
                                "SalePrice": 0
                            }
                        ],
                        "Currency": "",
                        "SaleStart": "2018-01-01T00:00:00-06:00",
                        "SaleEnd": "2018-01-01T00:00:00-06:00",
                        "IsOnSale": false,
                        "xp": {}
                    },
                    "ID": "",
                    "Name": "",
                    "Description": "",
                    "QuantityMultiplier": 0,
                    "ShipWeight": 0,
                    "ShipHeight": 0,
                    "ShipWidth": 0,
                    "ShipLength": 0,
                    "Active": false,
                    "SpecCount": 0,
                    "VariantCount": 0,
                    "ShipFromAddressID": "",
                    "Inventory": {
                        "Enabled": false,
                        "NotificationPoint": 0,
                        "VariantLevelTracking": false,
                        "OrderCanExceed": false,
                        "QuantityAvailable": 0,
                        "LastUpdated": "2018-01-01T00:00:00-06:00"
                    },
                    "DefaultSupplierID": "",
                    "AllSuppliersCanSell": false,
                    "Returnable": false,
                    "xp": {}
                },
                "properties": {
                    "PriceSchedule": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/PriceSchedule"
                            }
                        ],
                        "readOnly": true
                    },
                    "ID": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "Name": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "Description": {
                        "type": "string",
                        "maxLength": 2000
                    },
                    "QuantityMultiplier": {
                        "type": "integer",
                        "format": "int32",
                        "default": 1,
                        "description": "For reference only, does not influence any OrderCloud behavior. Used to indicate an amount per Quantity.",
                        "minimum": 1
                    },
                    "ShipWeight": {
                        "type": "number",
                        "format": "float"
                    },
                    "ShipHeight": {
                        "type": "number",
                        "format": "float"
                    },
                    "ShipWidth": {
                        "type": "number",
                        "format": "float"
                    },
                    "ShipLength": {
                        "type": "number",
                        "format": "float"
                    },
                    "Active": {
                        "type": "boolean",
                        "description": "If false, product is not visible or purchasable from the Shopper perspective."
                    },
                    "SpecCount": {
                        "type": "integer",
                        "format": "int32",
                        "readOnly": true,
                        "description": "Count of Specs assigned to the product."
                    },
                    "VariantCount": {
                        "type": "integer",
                        "format": "int32",
                        "readOnly": true,
                        "description": "Count of Variants generated from the product/spec combinations."
                    },
                    "ShipFromAddressID": {
                        "type": "string",
                        "description": "Marketplace Owner or Supplier AddressID where the product will be shipped from. Can be used to calculate shipping costs."
                    },
                    "Inventory": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Inventory"
                            }
                        ]
                    },
                    "DefaultSupplierID": {
                        "type": "string",
                        "description": "If this property has a value and a SupplierID isn't explicitly passed when creating a LineItem, this SupplierID will be used."
                    },
                    "AllSuppliersCanSell": {
                        "type": "boolean",
                        "description": "If true, all suppliers are eligible to opt into selling this product."
                    },
                    "Returnable": {
                        "type": "boolean"
                    },
                    "xp": {
                        "type": "object"
                    }
                }
            },
            "BuyerSupplier": {
                "type": "object",
                "example": {
                    "ID": "",
                    "Name": ""
                },
                "properties": {
                    "ID": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "Name": {
                        "type": "string",
                        "maxLength": 100
                    }
                }
            },
            "Catalog": {
                "type": "object",
                "example": {
                    "ID": "",
                    "OwnerID": "",
                    "Name": "",
                    "Description": "",
                    "Active": false,
                    "CategoryCount": 0,
                    "xp": {}
                },
                "properties": {
                    "ID": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "OwnerID": {
                        "type": "string",
                        "description": "ID of the organization that owns the Catalog. Only the Marketplace Owner can override the OwnerID on create."
                    },
                    "Name": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "Description": {
                        "type": "string",
                        "maxLength": 2000
                    },
                    "Active": {
                        "type": "boolean",
                        "description": "Categories and Products within to this catalog will not be visible to buyer users if false."
                    },
                    "CategoryCount": {
                        "type": "integer",
                        "format": "int32",
                        "readOnly": true
                    },
                    "xp": {
                        "type": "object"
                    }
                }
            },
            "CatalogAssignment": {
                "type": "object",
                "example": {
                    "CatalogID": "",
                    "BuyerID": "",
                    "ViewAllCategories": false,
                    "ViewAllProducts": false
                },
                "properties": {
                    "CatalogID": {
                        "type": "string"
                    },
                    "BuyerID": {
                        "type": "string"
                    },
                    "ViewAllCategories": {
                        "type": "boolean"
                    },
                    "ViewAllProducts": {
                        "type": "boolean"
                    }
                }
            },
            "Category": {
                "type": "object",
                "example": {
                    "ID": "",
                    "Name": "",
                    "Description": "",
                    "ListOrder": 1,
                    "Active": false,
                    "ParentID": "",
                    "ChildCount": 0,
                    "xp": {}
                },
                "properties": {
                    "ID": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "Name": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "Description": {
                        "type": "string",
                        "maxLength": 2000
                    },
                    "ListOrder": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Order that the category appears within its parent or catalog (if root level).",
                        "minimum": 0
                    },
                    "Active": {
                        "type": "boolean",
                        "description": "If false, buyers cannot see this Category or any Categories or Products under it."
                    },
                    "ParentID": {
                        "type": "string",
                        "description": "ID of the parent category."
                    },
                    "ChildCount": {
                        "type": "integer",
                        "format": "int32",
                        "readOnly": true,
                        "description": "Number of categories that are *immediate* children of this category."
                    },
                    "xp": {
                        "type": "object"
                    }
                }
            },
            "CategoryAssignment": {
                "type": "object",
                "example": {
                    "CategoryID": "",
                    "BuyerID": "",
                    "UserGroupID": "",
                    "Visible": false,
                    "ViewAllProducts": false
                },
                "properties": {
                    "CategoryID": {
                        "type": "string"
                    },
                    "BuyerID": {
                        "type": "string"
                    },
                    "UserGroupID": {
                        "type": "string"
                    },
                    "Visible": {
                        "type": "boolean",
                        "description": "Optional. Set to null to inherit from parent category or catalog level."
                    },
                    "ViewAllProducts": {
                        "type": "boolean",
                        "description": "Optional. Set to null to inherit from parent category or catalog level."
                    }
                }
            },
            "CategoryProductAssignment": {
                "type": "object",
                "example": {
                    "CategoryID": "",
                    "ProductID": "",
                    "ListOrder": 1
                },
                "properties": {
                    "CategoryID": {
                        "type": "string"
                    },
                    "ProductID": {
                        "type": "string"
                    },
                    "ListOrder": {
                        "type": "integer",
                        "format": "int32"
                    }
                }
            },
            "CommerceRole": {
                "type": "string",
                "enum": [
                    "Buyer",
                    "Seller",
                    "Supplier"
                ],
                "description": ""
            },
            "CostCenter": {
                "type": "object",
                "example": {
                    "ID": "",
                    "Name": "",
                    "Description": "",
                    "xp": {}
                },
                "properties": {
                    "ID": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "Name": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "Description": {
                        "type": "string",
                        "maxLength": 2000
                    },
                    "xp": {
                        "type": "object"
                    }
                }
            },
            "CostCenterAssignment": {
                "type": "object",
                "example": {
                    "CostCenterID": "",
                    "UserGroupID": ""
                },
                "properties": {
                    "CostCenterID": {
                        "type": "string"
                    },
                    "UserGroupID": {
                        "type": "string"
                    }
                }
            },
            "CreditCard": {
                "type": "object",
                "example": {
                    "ID": "",
                    "Token": "",
                    "DateCreated": "2018-01-01T00:00:00-06:00",
                    "CardType": "",
                    "PartialAccountNumber": "",
                    "CardholderName": "",
                    "ExpirationDate": "2018-01-01T00:00:00-06:00",
                    "xp": {}
                },
                "properties": {
                    "ID": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "Token": {
                        "type": "string",
                        "description": "Token provided by the credit card processor used to reference the card with that processor.",
                        "maxLength": 100
                    },
                    "DateCreated": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                    },
                    "CardType": {
                        "type": "string"
                    },
                    "PartialAccountNumber": {
                        "type": "string",
                        "maxLength": 5
                    },
                    "CardholderName": {
                        "type": "string"
                    },
                    "ExpirationDate": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "xp": {
                        "type": "object"
                    }
                }
            },
            "CreditCardAssignment": {
                "type": "object",
                "example": {
                    "CreditCardID": "",
                    "UserID": "",
                    "UserGroupID": ""
                },
                "properties": {
                    "CreditCardID": {
                        "type": "string"
                    },
                    "UserID": {
                        "type": "string"
                    },
                    "UserGroupID": {
                        "type": "string"
                    }
                }
            },
            "ExtendedLineItem": {
                "type": "object",
                "example": {
                    "OrderID": "",
                    "Order": {
                        "ID": "",
                        "FromUser": {
                            "ID": "",
                            "Username": "",
                            "Password": "",
                            "FirstName": "",
                            "LastName": "",
                            "Email": "",
                            "Phone": "",
                            "TermsAccepted": "2018-01-01T00:00:00-06:00",
                            "Active": false,
                            "xp": {},
                            "AvailableRoles": [
                                ""
                            ],
                            "Locale": {
                                "ID": "",
                                "OwnerID": "",
                                "Currency": "",
                                "Language": ""
                            },
                            "DateCreated": "2018-01-01T00:00:00-06:00",
                            "PasswordLastSetDate": "2018-01-01T00:00:00-06:00"
                        },
                        "FromCompanyID": "",
                        "ToCompanyID": "",
                        "FromUserID": "",
                        "BillingAddressID": "",
                        "BillingAddress": {
                            "ID": "",
                            "DateCreated": "2018-01-01T00:00:00-06:00",
                            "CompanyName": "",
                            "FirstName": "",
                            "LastName": "",
                            "Street1": "",
                            "Street2": "",
                            "City": "",
                            "State": "",
                            "Zip": "",
                            "Country": "",
                            "Phone": "",
                            "AddressName": "",
                            "xp": {}
                        },
                        "ShippingAddressID": "",
                        "Comments": "",
                        "LineItemCount": 0,
                        "Status": "Unsubmitted",
                        "DateCreated": "2018-01-01T00:00:00-06:00",
                        "DateSubmitted": "2018-01-01T00:00:00-06:00",
                        "DateApproved": "2018-01-01T00:00:00-06:00",
                        "DateDeclined": "2018-01-01T00:00:00-06:00",
                        "DateCanceled": "2018-01-01T00:00:00-06:00",
                        "DateCompleted": "2018-01-01T00:00:00-06:00",
                        "LastUpdated": "2018-01-01T00:00:00-06:00",
                        "Subtotal": 0,
                        "ShippingCost": 0,
                        "TaxCost": 0,
                        "PromotionDiscount": 0,
                        "Currency": "",
                        "Total": 0,
                        "IsSubmitted": false,
                        "xp": {}
                    },
                    "ID": "",
                    "ProductID": "",
                    "Quantity": 0,
                    "DateAdded": "2018-01-01T00:00:00-06:00",
                    "QuantityShipped": 0,
                    "UnitPrice": 0,
                    "PromotionDiscount": 0,
                    "LineTotal": 0,
                    "LineSubtotal": 0,
                    "CostCenter": "",
                    "DateNeeded": "2018-01-01T00:00:00-06:00",
                    "ShippingAccount": "",
                    "ShippingAddressID": "",
                    "ShipFromAddressID": "",
                    "Product": {
                        "ID": "",
                        "Name": "",
                        "Description": "",
                        "Returnable": false,
                        "QuantityMultiplier": 0,
                        "ShipWeight": 0,
                        "ShipHeight": 0,
                        "ShipWidth": 0,
                        "ShipLength": 0,
                        "DefaultSupplierID": "",
                        "xp": {}
                    },
                    "Variant": {
                        "ID": "",
                        "Name": "",
                        "Description": "",
                        "ShipWeight": 0,
                        "ShipHeight": 0,
                        "ShipWidth": 0,
                        "ShipLength": 0,
                        "xp": {}
                    },
                    "ShippingAddress": {
                        "ID": "",
                        "DateCreated": "2018-01-01T00:00:00-06:00",
                        "CompanyName": "",
                        "FirstName": "",
                        "LastName": "",
                        "Street1": "",
                        "Street2": "",
                        "City": "",
                        "State": "",
                        "Zip": "",
                        "Country": "",
                        "Phone": "",
                        "AddressName": "",
                        "xp": {}
                    },
                    "ShipFromAddress": {
                        "ID": "",
                        "DateCreated": "2018-01-01T00:00:00-06:00",
                        "CompanyName": "",
                        "FirstName": "",
                        "LastName": "",
                        "Street1": "",
                        "Street2": "",
                        "City": "",
                        "State": "",
                        "Zip": "",
                        "Country": "",
                        "Phone": "",
                        "AddressName": "",
                        "xp": {}
                    },
                    "SupplierID": "",
                    "InventoryRecordID": "",
                    "PriceScheduleID": "",
                    "PriceOverridden": false,
                    "Specs": [
                        {
                            "SpecID": "",
                            "Name": "",
                            "OptionID": "",
                            "Value": "",
                            "PriceMarkupType": "NoMarkup",
                            "PriceMarkup": 0
                        }
                    ],
                    "xp": {}
                },
                "properties": {
                    "OrderID": {
                        "type": "string"
                    },
                    "Order": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Order"
                            }
                        ],
                        "description": "Returned only when include=Order (or include=Order.???) is provided in the query string."
                    },
                    "ID": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "ProductID": {
                        "type": "string"
                    },
                    "Quantity": {
                        "type": "integer",
                        "format": "int32",
                        "default": 1,
                        "minimum": 1
                    },
                    "DateAdded": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                    },
                    "QuantityShipped": {
                        "type": "integer",
                        "format": "int32",
                        "readOnly": true,
                        "description": "Sum of QuantityShipped from all shipment items."
                    },
                    "UnitPrice": {
                        "type": "number",
                        "format": "float",
                        "description": "Auto calculated Price per Quantity. Modification requires OverrideUnitPrice Role."
                    },
                    "PromotionDiscount": {
                        "type": "number",
                        "format": "float",
                        "readOnly": true,
                        "description": "Sum of all line item level promotion discount amounts applied."
                    },
                    "LineTotal": {
                        "type": "number",
                        "format": "float",
                        "readOnly": true,
                        "description": "LineSubtotal - PromotionDiscount"
                    },
                    "LineSubtotal": {
                        "type": "number",
                        "format": "float",
                        "readOnly": true,
                        "description": "UnitPrice x Quantity"
                    },
                    "CostCenter": {
                        "type": "string",
                        "description": "For reference only, does not influence any OrderCloud behavior."
                    },
                    "DateNeeded": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "ShippingAccount": {
                        "type": "string",
                        "description": "For reference only, does not influence any OrderCloud behavior."
                    },
                    "ShippingAddressID": {
                        "type": "string"
                    },
                    "ShipFromAddressID": {
                        "type": "string",
                        "description": "Marketplace Owner or Supplier AddressID where the product will be shipped from. Can be used to calculate shipping costs."
                    },
                    "Product": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/LineItemProduct"
                            }
                        ],
                        "readOnly": true
                    },
                    "Variant": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/LineItemVariant"
                            }
                        ],
                        "readOnly": true
                    },
                    "ShippingAddress": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Address"
                            }
                        ],
                        "readOnly": true
                    },
                    "ShipFromAddress": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Address"
                            }
                        ],
                        "readOnly": true
                    },
                    "SupplierID": {
                        "type": "string",
                        "readOnly": true
                    },
                    "InventoryRecordID": {
                        "type": "string",
                        "description": "Inventory Record ID of which product inventory location to use. The Inventory Record ID cannot be modified once an order is submitted."
                    },
                    "PriceScheduleID": {
                        "type": "string",
                        "readOnly": true,
                        "description": "ID of the Price Schedule used to determine Unit price."
                    },
                    "PriceOverridden": {
                        "type": "boolean",
                        "readOnly": true,
                        "description": "If true, UnitPrice was overwritten."
                    },
                    "Specs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/LineItemSpec"
                        }
                    },
                    "xp": {
                        "type": "object"
                    }
                }
            },
            "ExtendedOrder": {
                "type": "object",
                "example": {
                    "LineItems": [
                        {
                            "ID": "",
                            "ProductID": "",
                            "Quantity": 0,
                            "DateAdded": "2018-01-01T00:00:00-06:00",
                            "QuantityShipped": 0,
                            "UnitPrice": 0,
                            "PromotionDiscount": 0,
                            "LineTotal": 0,
                            "LineSubtotal": 0,
                            "CostCenter": "",
                            "DateNeeded": "2018-01-01T00:00:00-06:00",
                            "ShippingAccount": "",
                            "ShippingAddressID": "",
                            "ShipFromAddressID": "",
                            "Product": {
                                "ID": "",
                                "Name": "",
                                "Description": "",
                                "Returnable": false,
                                "QuantityMultiplier": 0,
                                "ShipWeight": 0,
                                "ShipHeight": 0,
                                "ShipWidth": 0,
                                "ShipLength": 0,
                                "DefaultSupplierID": "",
                                "xp": {}
                            },
                            "Variant": {
                                "ID": "",
                                "Name": "",
                                "Description": "",
                                "ShipWeight": 0,
                                "ShipHeight": 0,
                                "ShipWidth": 0,
                                "ShipLength": 0,
                                "xp": {}
                            },
                            "ShippingAddress": {
                                "ID": "",
                                "DateCreated": "2018-01-01T00:00:00-06:00",
                                "CompanyName": "",
                                "FirstName": "",
                                "LastName": "",
                                "Street1": "",
                                "Street2": "",
                                "City": "",
                                "State": "",
                                "Zip": "",
                                "Country": "",
                                "Phone": "",
                                "AddressName": "",
                                "xp": {}
                            },
                            "ShipFromAddress": {
                                "ID": "",
                                "DateCreated": "2018-01-01T00:00:00-06:00",
                                "CompanyName": "",
                                "FirstName": "",
                                "LastName": "",
                                "Street1": "",
                                "Street2": "",
                                "City": "",
                                "State": "",
                                "Zip": "",
                                "Country": "",
                                "Phone": "",
                                "AddressName": "",
                                "xp": {}
                            },
                            "SupplierID": "",
                            "InventoryRecordID": "",
                            "PriceScheduleID": "",
                            "PriceOverridden": false,
                            "Specs": [
                                {
                                    "SpecID": "",
                                    "Name": "",
                                    "OptionID": "",
                                    "Value": "",
                                    "PriceMarkupType": "NoMarkup",
                                    "PriceMarkup": 0
                                }
                            ],
                            "xp": {}
                        }
                    ],
                    "ID": "",
                    "FromUser": {
                        "ID": "",
                        "Username": "",
                        "Password": "",
                        "FirstName": "",
                        "LastName": "",
                        "Email": "",
                        "Phone": "",
                        "TermsAccepted": "2018-01-01T00:00:00-06:00",
                        "Active": false,
                        "xp": {},
                        "AvailableRoles": [
                            ""
                        ],
                        "Locale": {
                            "ID": "",
                            "OwnerID": "",
                            "Currency": "",
                            "Language": ""
                        },
                        "DateCreated": "2018-01-01T00:00:00-06:00",
                        "PasswordLastSetDate": "2018-01-01T00:00:00-06:00"
                    },
                    "FromCompanyID": "",
                    "ToCompanyID": "",
                    "FromUserID": "",
                    "BillingAddressID": "",
                    "BillingAddress": {
                        "ID": "",
                        "DateCreated": "2018-01-01T00:00:00-06:00",
                        "CompanyName": "",
                        "FirstName": "",
                        "LastName": "",
                        "Street1": "",
                        "Street2": "",
                        "City": "",
                        "State": "",
                        "Zip": "",
                        "Country": "",
                        "Phone": "",
                        "AddressName": "",
                        "xp": {}
                    },
                    "ShippingAddressID": "",
                    "Comments": "",
                    "LineItemCount": 0,
                    "Status": "Unsubmitted",
                    "DateCreated": "2018-01-01T00:00:00-06:00",
                    "DateSubmitted": "2018-01-01T00:00:00-06:00",
                    "DateApproved": "2018-01-01T00:00:00-06:00",
                    "DateDeclined": "2018-01-01T00:00:00-06:00",
                    "DateCanceled": "2018-01-01T00:00:00-06:00",
                    "DateCompleted": "2018-01-01T00:00:00-06:00",
                    "LastUpdated": "2018-01-01T00:00:00-06:00",
                    "Subtotal": 0,
                    "ShippingCost": 0,
                    "TaxCost": 0,
                    "PromotionDiscount": 0,
                    "Currency": "",
                    "Total": 0,
                    "IsSubmitted": false,
                    "xp": {}
                },
                "properties": {
                    "LineItems": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/LineItem"
                        }
                    },
                    "ID": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "FromUser": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/User"
                            }
                        ],
                        "readOnly": true,
                        "description": "User placing the order."
                    },
                    "FromCompanyID": {
                        "type": "string",
                        "description": "ID of the Buyer or Marketplace Owner placing the order. Mainly useful to the Marketplace Owner or Supplier receiving it."
                    },
                    "ToCompanyID": {
                        "type": "string",
                        "description": "ID of the Marketplace Owner or Supplier receiving the order, only writable on create. Mainly useful to the Buyer or Marketplace Owner placing it."
                    },
                    "FromUserID": {
                        "type": "string",
                        "description": "This property is only writable when creating an order from the marketplace owner perspective on behalf of a buyer user."
                    },
                    "BillingAddressID": {
                        "type": "string"
                    },
                    "BillingAddress": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Address"
                            }
                        ],
                        "readOnly": true
                    },
                    "ShippingAddressID": {
                        "type": "string",
                        "description": "ID of the Shipping Address for all LineItems on the Order. Null when there are multiple Shipping Addresses involved."
                    },
                    "Comments": {
                        "type": "string",
                        "maxLength": 2000
                    },
                    "LineItemCount": {
                        "type": "integer",
                        "format": "int32",
                        "readOnly": true
                    },
                    "Status": {
                        "$ref": "#/components/schemas/OrderStatus",
                        "readOnly": true
                    },
                    "DateCreated": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                    },
                    "DateSubmitted": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true,
                        "description": "NULL until the order passes from the buyer to the Marketplace Owner, including when Status is PendingApproval."
                    },
                    "DateApproved": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                    },
                    "DateDeclined": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                    },
                    "DateCanceled": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                    },
                    "DateCompleted": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true,
                        "description": "Populated when all items on an order have shipped, or the order is explicitly completed."
                    },
                    "LastUpdated": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                    },
                    "Subtotal": {
                        "type": "number",
                        "format": "float",
                        "readOnly": true,
                        "description": "Sum of all LineItem.LineSubtotals."
                    },
                    "ShippingCost": {
                        "type": "number",
                        "format": "float",
                        "description": "Modifying requires OverrideShipping Role."
                    },
                    "TaxCost": {
                        "type": "number",
                        "format": "float",
                        "description": "Modifying requires TaxOverride Role."
                    },
                    "PromotionDiscount": {
                        "type": "number",
                        "format": "float",
                        "readOnly": true,
                        "description": "Sum of all Promotion.Amounts applied to the order."
                    },
                    "Currency": {
                        "type": "string",
                        "readOnly": true,
                        "description": "Inherited from the user placing the order."
                    },
                    "Total": {
                        "type": "number",
                        "format": "float",
                        "readOnly": true,
                        "description": "Subtotal + TaxCost + ShippingCost - PromotionDiscount"
                    },
                    "IsSubmitted": {
                        "type": "boolean",
                        "readOnly": true,
                        "description": "True if this Order has been passed from the Buyer to the Marketplace Owner."
                    },
                    "xp": {
                        "type": "object"
                    }
                }
            },
            "ImpersonateTokenRequest": {
                "type": "object",
                "example": {
                    "ClientID": "",
                    "Roles": [
                        "ApiClientAdmin"
                    ],
                    "CustomRoles": [
                        ""
                    ]
                },
                "properties": {
                    "ClientID": {
                        "type": "string"
                    },
                    "Roles": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApiRole"
                        }
                    },
                    "CustomRoles": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "ImpersonationConfig": {
                "type": "object",
                "example": {
                    "ID": "",
                    "ImpersonationBuyerID": "",
                    "ImpersonationGroupID": "",
                    "ImpersonationUserID": "",
                    "BuyerID": "",
                    "GroupID": "",
                    "UserID": "",
                    "SecurityProfileID": "",
                    "ClientID": ""
                },
                "properties": {
                    "ID": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "ImpersonationBuyerID": {
                        "type": "string",
                        "description": "The Buyer ID of the impersonator group or user (party doing the impersonating)"
                    },
                    "ImpersonationGroupID": {
                        "type": "string",
                        "description": "The UserGroupID of the impersonator (party doing the impersonating)"
                    },
                    "ImpersonationUserID": {
                        "type": "string",
                        "description": "The UserID of the impersonator (party doing the impersonating)"
                    },
                    "BuyerID": {
                        "type": "string",
                        "description": "The BuyerID of the impersonatee (party being impersonated)"
                    },
                    "GroupID": {
                        "type": "string",
                        "description": "The UserGroupID of the impersonatee (party being impersonated)"
                    },
                    "UserID": {
                        "type": "string",
                        "description": "The UserID of the impersonatee (party being impersonated)"
                    },
                    "SecurityProfileID": {
                        "type": "string"
                    },
                    "ClientID": {
                        "type": "string"
                    }
                }
            },
            "Incrementor": {
                "type": "object",
                "example": {
                    "ID": "",
                    "Name": "",
                    "LastNumber": 0,
                    "LeftPaddingCount": 0
                },
                "properties": {
                    "ID": {
                        "type": "string",
                        "description": "The string \"{replace-with-incrementor-ID}\" can be passed into any ID field to populate the next ID in the sequence. It can also be prefixed with other ID safe characters.",
                        "maxLength": 100
                    },
                    "Name": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "LastNumber": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Increments as IDs are generated."
                    },
                    "LeftPaddingCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Use to enforce a minimum incrementor ID length. For example if your LastNumber is 0 and LeftPaddingCount is 4, your first generated ID will be 0001."
                    }
                }
            },
            "IntegrationEvent": {
                "type": "object",
                "example": {
                    "ElevatedRoles": [
                        "ApiClientAdmin"
                    ],
                    "ID": "",
                    "ConfigData": {},
                    "EventType": "OrderCheckout",
                    "CustomImplementationUrl": "",
                    "Name": "",
                    "HashKey": ""
                },
                "properties": {
                    "ElevatedRoles": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApiRole"
                        }
                    },
                    "ID": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "ConfigData": {
                        "type": "object",
                        "description": "Any additional data needed for your Integration Event should be included here."
                    },
                    "EventType": {
                        "$ref": "#/components/schemas/IntegrationEventType"
                    },
                    "CustomImplementationUrl": {
                        "type": "string",
                        "description": "URL the IntegrationEvent will POST data to, likely a route within your middleware."
                    },
                    "Name": {
                        "type": "string"
                    },
                    "HashKey": {
                        "type": "string",
                        "description": "Security feature that allows your middleware to verify the digital signature in the request header to ensure you only accept trusted data.",
                        "maxLength": 50
                    }
                }
            },
            "IntegrationEventType": {
                "type": "string",
                "enum": [
                    "OrderCheckout",
                    "OpenIDConnect",
                    "OrderReturn"
                ],
                "description": ""
            },
            "Inventory": {
                "type": "object",
                "example": {
                    "Enabled": false,
                    "NotificationPoint": 0,
[...]
